div {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 20px;
}

p {
    color: red;
}

ul {
    color: white;
    background-color: black;
}

ol {
    color: white;
    background-color: black;
}

.steps {
    color: red;
}

.yum {
    color:gold;
}

a {
    padding: 20px;
}